
name: Deploy

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: staging
    permissions:
      contents: read
      packages: write
      
    strategy:
      matrix:
        app: [hub]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Setup Node.js 22.14
        uses: actions/setup-node@v4
        with:
          node-version: 22.14.0

      - name: Enable Corepack (Yarn Berry)
        run: |
          corepack enable

      - name: Install dependencies
        run: yarn install

      - name: Build Storybook
        run: yarn workspace @dimasbaguspm/${{ matrix.app }} build

      - name: Ship to VPS
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          password: ${{ secrets.VPS_PASSWORD }}
          source: "apps/${{ matrix.app }}/dist/**"
          target: "/deployments/web-app/${{ matrix.app }}"