name: Reusable Deploy

on:
  workflow_call:
    inputs:
      app_name:
        required: true
        type: string
        description: 'The name of the app to deploy'

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: staging
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js 22.18
        uses: actions/setup-node@v4
        with:
          node-version: 22.18.0

      - name: Enable Corepack (Yarn Berry)
        run: |
          corepack enable

      - name: Install dependencies
        run: yarn install

      - name: Build Storybook
        run: yarn workspace @dimasbaguspm/${{ inputs.app_name }} build

      - name: Ship to VPS
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          password: ${{ secrets.VPS_PASSWORD }}
          source: 'apps/${{ inputs.app_name }}/dist/**'
          target: '/deployments/web-app/${{ inputs.app_name }}'
